@import 'variables';

.start-button {
  margin-top: 25px;
  padding: 13px 24px;
  background-color: $background-color_1;
  color: $color_1;
  cursor: pointer;
  border: none;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s, transform 0.3s;
  font-size: 14px;
  font-family: $font-family;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  &:hover {
    opacity: 0.7;
    transform: scale(1.05);
  }
}
.main-buttons-container {
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.delete-button {
	border: none;
	position: absolute;
	bottom: 3px;
    right: 5px;
	padding-bottom: 3px;
	color: $color_3;
	background-color: $background-color_2;
	font-size: 1.3rem;
	cursor: pointer;
	transition: opacity 0.3s, transform 0.3s;
	&:hover {
		opacity: 0.7;
		transform: scale(1.1);
	}
}
.edit-button {
	position: absolute;
	bottom: 2px;
    right: 35px;
	border: none;
	padding-bottom: 3px;
	color: $color_3;
	background-color: $background-color_2;
	font-size: 1.1rem;
	cursor: pointer;
	transition: opacity 0.3s, transform 0.3s;
	&:hover {
		opacity: 0.7;
		transform: scale(1.1);
	}
}
.edit-buttons {
    display: flex;
    justify-content: space-evenly;
    button {
      flex: 1;
      margin-right: 5px;
      margin-bottom: 5px;
      border-radius: 30px;
      border: none;
      background-color: $background-color_3;
      color: $color_1;
      &:last-child {
        margin-right: 0;
        background-color: $background-color_5;
      }
    }
  }
.search-bar-container {
	text-align: center;
	padding: 20px;
}
.search-bar {
	width: 68%;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	border: none;
	background-color: $background-color_1;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	margin-top: 15px;
	font-family: $font-family;
	outline: none;
	font-size: 15px;
}

.pagination {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0;
	display: flex;
	justify-content: space-between; 
	pointer-events: none; 
	height: 100%; 
  }
  
  .pagination-button-left,
  .pagination-button-right {
	pointer-events: auto;
	position: fixed; 
	top: 450px; 
	transform: translateY(0); 
	padding: 10px 20px;
	color: $color_1;
	cursor: pointer;
	border: none;
	font-family: $font-family;
	transition: opacity 0.3s, transform 0.3s;
	background-color: $background-color_2;
	font-size: 2rem;
	border-radius: 50%;
  }
  
  .pagination-button-left {
	left: 10px; 
  }
  
  .pagination-button-right {
	right: 10px; 
  }
  
.add-note-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    padding-top: 4px;
	padding-right: 10px;
    background-color: $background-color_2;
    color: $color_1;
    font-size: 36px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s, transform 0.3s;
    &:hover {
        opacity: 0.7;
        transform: scale(1.05);
    }
}
::-webkit-scrollbar {
	width: 8px;
  }
  
  ::-webkit-scrollbar-track {
	background: transparent;
  }
  ::-webkit-scrollbar-thumb {
	background: linear-gradient(#573647, #7B3CD3);
	border-radius: 10px;
  }
  
  ::-webkit-scrollbar-corner {
	border-radius: 10px;
	background: linear-gradient(#573647, #7B3CD3);
  }

  .header-section img {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 1;
	width: 103px;
	height: 57,5px;
  }
  .note-modal-button, .note-input {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    background-color: $background-color_1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-family: $font-family;
    outline: none;
    resize: none;
    box-sizing: border-box; 
  }

   .note-modal-button {
    margin-left: 10px;
    margin-right: 10px;
    transition: opacity 0.3s, transform 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	&:hover {
		opacity: 0.7;
		transform: scale(1.05);
   }
  }