$color_1: rgba(226, 226, 226, 1);
$color_3: rgb(51, 51, 51);
$color_4: rgb(34, 34, 34);
$font-family: "Montserrat", sans-serif;
$background-color_1: rgba(255, 255, 255, 0.5);
$background-color_2: transparent;
$background-color_3: rgb(82, 82, 82);
$background-color_5: rgb(220, 89, 89);
$background-color_7: rgba(226, 226, 226, 1);
